body {
    background-color: floralwhite;
}

h2 {
    color: brown;
    font-size: 110%;
    text-align: center;
}

h3 {
    color: darkblue;
    font-size: 110%;
    text-align: center;
}

.form {
    width: 250px;
    position: fixed;
    margin-left: 25px;
    margin-top: 25px;
    border-style: groove;
    border-width: 3px;
    border-radius: 4px;
    background-color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-item {
    text-align: center;
    font-size: 120%;
    margin: 0px;
}

.input-item {
    padding: 3px;
    border-radius: 4px;
    border-width: 1px;
}

.answer {
    width: 250px;
    position: fixed;
    margin-left: 25px;
    margin-top: 290px;
    border-style: groove;
    border-width: 3px;
    border-radius: 4px;
    background-color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.get {
    width: 250px;
    position: fixed;
    margin-left: 25px;
    margin-top: 440px;
    border-style: groove;
    border-width: 3px;
    border-radius: 4px;
    background-color: white;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about {
    position: fixed;
    margin-left: 25px;
    margin-top: 570px;
    padding-left: 5px;
    font-size: 80%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.plot {
    width: 650px;
    position: fixed;
    margin-left: 300px;
    margin-top: 25px;
    border-style: groove;
    border-width: 3px;
    border-radius: 4px;
    background-color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subscript {
    font-size: 80%;
    vertical-align: sub;
}

.button {   
    background-color:teal;
    border-style: groove;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
  }

.button:active {
    transform: scale(0.95);
}
